<html>

<body>

<h1>IITG iNeed</h1><br><br>

<h3>The platform aims to help the IITG community to find and collabrate with campus talent.</h3><br><br>
<h3>Data :-</h3>

<br><br>

<h4>The data (textual and image) isn't shared with any thrid party except for college administration for better analysis of <br>collabration within the campus.</h4>

<br>

</body>

</html>